/*import fonts*/

@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styling*/

body {
    min-height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    /*Generic Styles*/
    color: #171627;
    flex: 1 0 auto;
    font-family: system-ui, sans-serif;
    font-size: 100%;
}

/*Header*/
header {
    background-color: #F4F8F9;
    padding: 0 .2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;

}

h1 {
    font-family: 'Nova Round', system-ui, sans-serif;
    font-size: 160%;
    color: #171627;
    letter-spacing: .5px;
    margin-bottom: .5em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: 'Nova Round', system-ui, sans-serif;
    font-size: 120%;
    color: #171627;
    letter-spacing: .5px;
    margin-bottom: 1em;
    text-align: center;
    text-transform: uppercase;
}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: .5em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar with Dropdown Toggle*/

nav {
    position: absolute;
    background-color: #F4F8F9;
    padding: 0 .2rem;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}

/*Nav Toggle*/

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/*Main*/

main {
    background-color: lightpink;
    flex: 1 0 auto;
    margin-top: 46px;
}

.row {
    max-width: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: .5rem;
}

.row-light {
    background: #F4F8F9
}

.row-dark {
    background: lightpink
}

.column-left {
    flex: 50%;
    padding: .5rem .5rem;
    margin: 0 .2rem .2rem 0;
}

.column-right {
    flex: 50%;
    padding: .5rem .5rem;
    margin: 0 .2rem .2rem 0;
}

.image-size {
    min-width: 300px;
}

/*Footer*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F8F9;
    padding: .2rem .2rem;
    width: 100%;
    height: 40px;
}

.footer-list {
    line-height: 40px;
    font-size: 150%;
    display: flex;
    flex-direction: row;
    width: fit-content;
    justify-content: space-around;
    list-style-type: none;
    column-gap: 1rem;
}

footer a {
    text-decoration: none;
    color: inherit;
}

/* Tables Styles*/
.table-container {
    margin-top: 1rem;
    padding-top: 1rem;
    background-color: lightpink;
    align-items: center;
    align-content: center;
}

table {
    margin-top: 1rem;
    width: 80%;
    table-layout: auto;
    border: 1px solid #3a3a3a;
    padding: .5rem;
    align-items: left;
    background-color: #F4F8F9;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

th {
    padding: .3rem;
    height: 2rem;
    text-align: left;
    border-bottom: 1px solid #3a3a3a;
    border-collapse: collapse;
    font-family: 'Nova Round', system-ui, sans-serif;
}

tr {
    padding-right: .3rem;
    margin-right: 1rem;
    border: 1px solid #3a3a3a;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid #3a3a3a;
    border-collapse: collapse;
}

/* Gallery Styles*/

#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
    padding: 0 0;
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}

/* Media query: tablets and larger (768px and up) */

@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: .5rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 230%;
        line-height: 79px;
        margin: 0 0.2rem;
    }

    /* Main content */

    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    /* Gallery */

    #photos {
        column-count: 3;
    }
}

/* Large devices (laptops and desktops, 992px and up) */

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #logo {
        font-size: 260%;
        line-height: 79px;
        margin: 0 0.2rem;
    }

    /* Gallery */
    
    #photos {
        column-count: 4;
    }
}