/*import fonts*/

@import url('https://fonts.googleapis.com/css2?family=Nova+Round&family=Varela+Round&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General Styling*/



body{
min-height: 100vh;
display:flex;
flex-direction: column;
/*Generic Styles*/
color: #171627;
flex: 1 0 auto;
font-family: sans-serif;

}
/*Header*/
header{
    background-color: #F4F8F9;
    padding: 0 .2rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px  #3a3a3a;
}
header a {
    text-decoration: none;
    color: inherit;
}
h1 {
    font-family: 'Nova Round', sans-serif;
    font-size:  170%;
    color: #171627;
    letter-spacing: .5px;
    margin-bottom: .5em;

}

#menu {
    font-size: 100%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: .5em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}
/*Navbar with Dropdown Toggle*/
nav{
    position: absolute;
    background-color: #F4F8F9;
    padding: 0 .2rem;
    width: 100%;
    left: 0;
    box-shadow: 0 2px 2px  #3a3a3a;
    display: none;
}

/*Main*/
main{
    background-color: lightblue;
    flex: 1 0 auto;
}


/*Footer*/
footer{
    background-color: orange;
}
